.navbar-brand {
  color: #4086d0;
}
.nav-link {
  color: #fecc01;
}

.navbar-toggler {
  border-color: #4086d0;
}

.custom-burger {
  font-size: 1.5rem;
  color: #4086d0;
}

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.trip-card {
  transition: 0.4s all ease;
}

.trip-card:hover {
  transform: scale(1.02);
  box-shadow: 8px 10px rgb(0, 0, 0, 0.1);
}

main {
  background-image: url("../../../public/img/sydney.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
